@(tweetIDForm: Form[Application.TweetID], tweetsArray : Array[Int], retweetsArray : Array[Int], totalRetweetsArray : Array[Int], totalRetweetsForUserArray : Array[Int], avgRetweetsForUserArray : Array[Int], userData : Array[UserData], tweetsNewArray : Array[Int], retweetsNewArray : Array[Int])

@import helper._
@import controllers.routes.javascript._

@main("Twitter") {
  	<h2>Twitter Graphs - Arsenal</h2>
	
	    @**form(action = routes.Application.generate, args = 'id -> "tweetidform") {
        
        	@inputText(
            	field = tweetIDForm("name"),
            	args = '_label -> "TweetID", 'placeholder -> "123456789"
        	)
        	
        	<p class="buttons">
            	<input type="submit">
        	<p>
		}*@
		<h3>Events</h3>
		<br/>
		Sun 3rd Mar 16.00 - Arsenal vs Tottenham Hotspur - Barclays Premier League 1 - 2
		<br/>
		Tue 5th Mar 19.45 Manchester United vs Real Madrid -  UEFA Champions League 1 - 2 (Arsenal only English team left in Champions League)
		<br/>
		Thu 7th Mar 20.05 Tottenham Hotspur vs Inter Milan - Europa League 3 - 0
		<br/>
		Thu 7th Mar 20.05 Sao Paulo vs Arsenal de Sarandi - Copa de America Libertadores 1 - 1 (Different Arsenal team from Argentina playing the Libertadores Cup)
		<br/>
		Sun 10th Mar 16.00 Liverpool vs Tottenham Hotspur - Barclays Premier League 3 - 2 (Arsenal getting closer to Spurs in Premiere League)
		<br/>
		Tue 12th Mar 19.45 Barcelona vs AC Milan - UEFA Champions League 4 - 0 (Amazing Barcelona comeback from first leg (2 - 0), Arsenal fans getting their hopes high)
		<br/>
		Wed 13th Mar 19.45 - Bayern Munich vs Arsenal - UEFA Champions League 2 - 0
		<br/>
		Fri 15th Mar 00.30 Arsenal de sarandi vs Sao Paolo  - Copa de America Libertadores 2 - 1
		<br/>
		Sat 16th Mar 15.00 - Swansea vs Arsenal - Barclays Premier League 0 - 2
		<br/>
		Sun 17th Mar 15.00 - Tottenham Hotspur vs Fulham - Barclays Premier League 0 - 1 (Arsenal catching up to Spurs)
		
		<script src="http://code.highcharts.com/highcharts.js"></script>
		<script src="http://code.highcharts.com/modules/exporting.js"></script>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/Tabs.css")">
        <script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>


        <h3>Live Feed</h3>
        <div id="result"></div>
        
        <script type="text/javascript" charset="utf-8">
                
        function plus() {
        	jsRoutes.controllers.Application.liveFeed().ajax({
        		success: function(data) {
        			$("#result").html(data);
        		},
        		error: function() {
        			alert("Error!")
        		}
        	})
        };
	
	$('#liveFeedBtn').click(plus);
    window.setInterval(plus, 1000);

	</script>
	</br>
	<ul id="tabs">
	    <li><a href="#" name="#tab1">Timeline</a></li>
	    <li><a href="#" name="#tab2">Retweet/Tweet</a></li>
	    <li><a href="#" name="#tab3">Retweets</a></li>
	    <li><a href="#" name="#tab4">Users</a></li>
	    <li><a href="#" name="#tab5">AVG</a></li>
	    <li><a href="#" name="#tab6">Retweets/Followers</a></li>
	    <li><a href="#" name="#tab7">Live</a></li>
	</ul>
	
	<div id="content"> 
		<div id="tab1">
		  <div id="graph1" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
		  <table id="hor-minimalist-a" summary="Employee Pay Sheet">
                <thead>
                    <tr>
                        <th scope="col">Timestamp</th>
                        <th scope="col">User</th>
                        <th scope="col">Total Retweets</th>
                        <th scope="col">Blog</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>2013-03-13 14:41:29</td>
                        <td>SoccerBible</td>
                        <td>4336</td>
                        <td>If #Arsenal beat Bayern Munich tonight we'll give away a pair of Nike Tiempo's! Follow @@SoccerBible & RT to enter. http://t.co/ztZyqePd9v</td>
                    </tr>
                    <tr>
                        <td>2013-03-05 21:33:39</td>
                        <td>FootballFunnys</td>
                        <td>4249</td>
                        <td>If Robin van Persie had stayed at Arsenal he'd still be in the Champions League...</td>
                    </tr>
                    <tr>
                        <td>2013-03-03 15:05:38</td>
                        <td>Arsenal</td>
                        <td>4064</td>
                        <td>ARSENAL TEAM: Szczesny, Jenkinson, Mertesacker, Vermaelen, Monreal, Ramsey, Arteta, Wilshere, Cazorla, Walcott, Giroud #THFCvAFC</td>
                    </tr>
                    <tr>
                        <td>2013-03-13 18:25:05</td>
                        <td>piersmorgan</td>
                        <td>3955</td>
                        <td>BREAKING NEWS: 2nd Pope elected since Arsenal last won a trophy. #whitesmoke</td>
                    </tr>
                    <tr>
                        <td>2013-03-12 22:12:37</td>
                        <td>BBCSporf</td>
                        <td>3825</td>
                        <td>FACT: Lionel Messi has now scored 53 goals this season, the exact same as Arsenal FC.</td>
                    </tr>
                    <tr>
                        <td>2013-03-13 17:45:23</td>
                        <td>RoyCropperNOT</td>
                        <td>3489</td>
                        <td>I reckon Arsenal will end up like Oscar Pistorius tonight. Both legs lost, and only a couple of shots on target.</td>
                    </tr>
                    <tr>
                        <td>2013-03-05 21:19:17</td>
                        <td>piersmorgan</td>
                        <td>3235</td>
                        <td>Just think, Van Pursestrings - if you'd stayed at Arsenal.. you'd still be in the Champions League.</td>
                    </tr>
                    <tr>
                        <td>2013-03-05 21:41:41</td>
                        <td>piersmorgan</td>
                        <td>3082</td>
                        <td>IT'S OFFICIAL - Arsenal are the only English club still in this year's Champion's League.</td>
                    </tr>
                    <tr>
                        <td>2013-03-16 14</td>
                        <td>Arsenal</td>
                        <td>2769</td>
                        <td>Arsenal team: Fabianski, Jenkinson, Mertesacker, Koscielny, Monreal, Arteta, Diaby, Oxlade-Chamberlain, Cazorla, Walcott, Giroud #SCFCvAFC</td>
                    </tr>
                    <tr>
                        <td>2013-03-16 16:52:40</td>
                        <td>Arsenal</td>
                        <td>2733</td>
                        <td>FULL TIME: Swansea 0-2 Arsenal. Arsene Wenger's men get the crucial three points on goals by Nacho Monreal (74) and Gervinho (90) #SCFCvAFC</td>
                    </tr>
                </tbody>
            </table>
		</div>
		<div id="tab2" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
		<div id="tab3" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
		<div id="tab4">
            <div id="graph4" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
		
			<table id="hor-minimalist-a" summary="Employee Pay Sheet">
	            <thead>
	                <tr>
	                    <th scope="col">Username</th>
	                    <th scope="col">No. of Followers</th>
	                    <th scope="col">No. of Friends</th>
	                    <th scope="col">Total Tweets</th>
	                    <th scope="col">Total Retweets</th>
	                    <th scope="col">Average Retweets</th>
	                    <th scope="col">Location</th>
	                </tr>
	            </thead>
	            <tbody>
	                <tr>
	                    <td>Arsenal</td>
	                    <td>2,434,497</td>
	                    <td>165,595</td>
	                    <td>271</td>
	                    <td>60,064</td>
	                    <td>222</td>
	                    <td>London</td>
	                </tr>
	                <tr>
                        <td>piersmorgan</td>
                        <td>3,558,322</td>
                        <td>549</td>
                        <td>61</td>
                        <td>32,456</td>
                        <td>532</td>
                        <td>New York, LA, London</td>
                    </tr>
	                <tr>
                        <td>FootballFunnys</td>
                        <td>719,421</td>
                        <td>792</td>
                        <td>51</td>
                        <td>19,367</td>
                        <td>380</td>
                        <td>England</td>
                    </tr>
                    <tr>
                        <td>Footy_Jokes</td>
                        <td>545,989</td>
                        <td>70</td>
                        <td>41</td>
                        <td>18,799</td>
                        <td>459</td>
                        <td>Wordlwide</td>
                    </tr>
                    <tr>
                        <td>premierleague</td>
                        <td>1,785,969</td>
                        <td>22</td>
                        <td>84</td>
                        <td>16,155</td>
                        <td>192</td>
                        <td>London</td>
                    </tr>
                    <tr>
                        <td>ID_ARSENAL</td>
                        <td>93,912</td>
                        <td>923</td>
                        <td>251</td>
                        <td>15,816</td>
                        <td>63</td>
                        <td>Indonesia</td>
                    </tr>
                    <tr>
                        <td>BBCSporf</td>
                        <td>461,375</td>
                        <td>154</td>
                        <td>10</td>
                        <td>15,125</td>
                        <td>1,513</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>ArsenalANPI</td>
                        <td>31,122</td>
                        <td>53</td>
                        <td>162</td>
                        <td>10,774</td>
                        <td>67</td>
                        <td>Jakarta</td>
                    </tr>
                    <tr>
                        <td>Bolanet</td>
                        <td>291,630</td>
                        <td>287</td>
                        <td>154</td>
                        <td>8,842</td>
                        <td>57</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>DailyGunners</td>
                        <td>9,282</td>
                        <td>317</td>
                        <td>601</td>
                        <td>8,748</td>
                        <td>15</td>
                        <td>Indonesia -> Emirates stadium</td>
                    </tr>
                  </tbody>
	        </table>
		
		</div>
		<div id="tab5">
			<div id="graph5" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
			    
            <table id="hor-minimalist-a" summary="Employee Pay Sheet">
                <thead>
                    <tr>
                        <th scope="col">Username</th>
                        <th scope="col">No. of Followers</th>
                        <th scope="col">No. of Friends</th>
                        <th scope="col">Total Tweets</th>
                        <th scope="col">Total Retweets</th>
                        <th scope="col">Average Retweets</th>
                        <th scope="col">Location</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>RoyCropperNOT</td>
                        <td>725,579</td>
                        <td>102</td>
                        <td>1</td>
                        <td>3,489</td>
                        <td>3,489</td>
                        <td>PARODY</td>
                    </tr>
                    <tr>
                        <td>19SCazorla</td>
                        <td>409,464</td>
                        <td>85</td>
                        <td>1</td>
                        <td>2,255</td>
                        <td>2,255</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>kevinbridges86</td>
                        <td>564,455</td>
                        <td>765</td>
                        <td>1</td>
                        <td>1,746</td>
                        <td>1,746</td>
                        <td>Up the Toon.</td>
                    </tr>
                    <tr>
                        <td>BBCSporf</td>
                        <td>461,375</td>
                        <td>154</td>
                        <td>10</td>
                        <td>15,125</td>
                        <td>1,513</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>JaiBrooks1</td>
                        <td>937,421</td>
                        <td>20,174</td>
                        <td>1</td>
                        <td>1,263</td>
                        <td>1,263</td>
                        <td>Melbourne, Australia</td>
                    </tr>
                    <tr>
                        <td>OfficialVieira</td>
                        <td>449,561</td>
                        <td>123</td>
                        <td>3</td>
                        <td>3,370</td>
                        <td>1,123</td>
                        <td>Manchester</td>
                    </tr>
                    <tr>
                        <td>IanWright0</td>
                        <td>638,170</td>
                        <td>1,113</td>
                        <td>2</td>
                        <td>2,073</td>
                        <td>1,037</td>
                        <td>London</td>
                    </tr>
                    <tr>
                        <td>mailreklam</td>
                        <td>33,971</td>
                        <td>3,688</td>
                        <td>1</td>
                        <td>1,028</td>
                        <td>1,028</td>
                        <td>TURKEY</td>
                    </tr>
                    <tr>
                        <td>MarioBaloteLAD</td>
                        <td>327755</td>
                        <td>75</td>
                        <td>4</td>
                        <td>3,843</td>
                        <td>961</td>
                        <td>Milan/Manchester</td>
                    </tr>
                    <tr>
                        <td>MarioBaloltelli</td>
                        <td>585,606</td>
                        <td>836</td>
                        <td>3</td>
                        <td>2,833</td>
                        <td>944</td>
                        <td>Milan</td>
                    </tr>
                  </tbody>
            </table>

		</div>
		
        <div id="tab6">
            <div id="graph6" style="min-width: 400px; height: 400px; margin: 0 auto"></div>

            <table id="hor-minimalist-a" summary="Employee Pay Sheet">
                <thead>
                    <tr>
                        <th scope="col">Username</th>
                        <th scope="col">Followers</th>
                        <th scope="col">No. of Friends</th>
                        <th scope="col">Total Tweets</th>
                        <th scope="col">Total Retweets</th>
                        <th scope="col">Average Retweets</th>
                        <th scope="col">Location</th>
                        <th scope="col">Retweets to Followers</th>
                    </tr>
                </thead>
                <tbody>
                   <tr>
                        <td>DailyGunners</td>
                        <td>9,282</td>
                        <td>317</td>
                        <td>601</td>
                        <td>8,748</td>
                        <td>15</td>
                        <td>Indonesia -> Emirates stadium</td>
                        <td>0.942</td>
                    </tr>
                    <tr>
                        <td>GoonersReport</td>
                        <td>3,568</td>
                        <td>100</td>
                        <td>409</td>
                        <td>2,321</td>
                        <td>6</td>
                        <td>Ashburton Grove</td>
                        <td>0.651</td>
                    </tr>
                    <tr>
                        <td>tomgunner14</td>
                        <td>17,773</td>
                        <td>928</td>
                        <td>252</td>
                        <td>7,154</td>
                        <td>28</td>
                        <td>Nigeria /London</td>
                        <td>0.401</td>
                    </tr>
                    <tr>
                        <td>afc_trophy</td>
                        <td>8,685</td>
                        <td>1</td>
                        <td>73</td>
                        <td>3,210</td>
                        <td>44</td>
                        <td>Dublin</td>
                        <td>0.370</td>
                    </tr>
                    <tr>
                        <td>ArsenalANPI</td>
                        <td>31,122</td>
                        <td>53</td>
                        <td>162</td>
                        <td>10,774</td>
                        <td>67</td>
                        <td>Jakarta</td>
                        <td>0.346</td>
                    </tr>
                    <tr>
                        <td>info_arsenal</td>
                        <td>16,618</td>
                        <td>426</td>
                        <td>310</td>
                        <td>5,215</td>
                        <td>17</td>
                        <td>Indonesia</td>
                        <td>0.314</td>
                    </tr>
                    <tr>
                        <td>ID_Gooners</td>
                        <td>10,255</td>
                        <td>131</td>
                        <td>264</td>
                        <td>2,871</td>
                        <td>11</td>
                        <td>Indonesia</td>
                        <td>0.280</td>
                    </tr>
                    <tr>
                        <td>MatiasGooner</td>
                        <td>15,640</td>
                        <td>300</td>
                        <td>104</td>
                        <td>3,966</td>
                        <td>38</td>
                        <td>Follow to stay updated</td>
                        <td>0.254</td>
                    </tr>
                    <tr>
                        <td>FFArsenal</td>
                        <td>23,828</td>
                        <td>71</td>
                        <td>116</td>
                        <td>4,404</td>
                        <td>38</td>
                        <td>Casablanca</td>
                        <td>0.185</td>
                    </tr>
                    <tr>
                        <td>ID_ARSENAL</td>
                        <td>93,912</td>
                        <td>923</td>
                        <td>251</td>
                        <td>15,816</td>
                        <td>63</td>
                        <td>Indonesia</td>
                        <td>0.168</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <div id="tab7">
        <div id="graph7" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
    </div>
		<script>
        	var tweetData = []
        	@if(tweetsArray != null) {
            	@for(id <- tweetsArray) {
            		tweetData.push(@id);
            	}
	        }
    	
	    	var retweetData = []
	        	@if(retweetsArray != null) {
	            	@for(id <- retweetsArray) {
	            		retweetData.push(@id);
	            	}
		        }
		
		$(function () {
        $('#graph1').highcharts({
            chart: {
                zoomType: 'x',
                spacingRight: 20
            },
            title: {
                text: 'Volume of Data (2nd of March - 21st of March) - Tweets: 2,085,498 - ReTweets: 1,041,125' 
            },
            subtitle: {
                text: document.ontouchstart === undefined ?
                    'Click and drag in the plot area to zoom in' :
                    'Drag your finger over the plot to zoom in'
            },
            xAxis: {
                type: 'datetime',
                maxZoom: 1 * 3600000, // 1 day
                title: {
                    text: null
                }
            },
            yAxis: {
                title: {
                    text: 'Total Tweets/ReTweets'
                },
                type: 'linear'
            },
            tooltip: {
                shared: true
            },
            legend: {
                enabled: true
            },
            plotOptions: {
                area: {
                    fillColor: {
                        linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1},
                        stops: [
                            [0, Highcharts.getOptions().colors[0]],
                            [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                        ]
                    },
                    lineWidth: 1,
                    marker: {
                        enabled: false
                    },
                    shadow: false,
                    states: {
                        hover: {
                            lineWidth: 1
                        }
                    },
                    threshold: null
                }
            },
    
            series: [{
                type: 'area',
                name: 'Tweets',
                pointInterval: 10 * 60 * 1000,
                pointStart: Date.UTC(2013, 3, 02, 00, 06, 00, 0),
                data: tweetData
            }, {
            	type: 'area',
                name: 'ReTweets',
                color: '#FF0000',
                pointInterval: 10 * 60 * 1000,
                pointStart: Date.UTC(2013, 3, 02, 00, 06, 00, 0),
                data: retweetData
            }]
        });
    });
    </script>

    <script>
	
    var ratioData = []
        for(var i = 0; i < tweetData.length; i++) {
            ratioData.push(retweetData[i]/ tweetData[i]);
        }
    
	$(function () {
	        $('#tab2').highcharts({
	            chart: {
	                zoomType: 'x',
	                spacingRight: 20
	            },
	            title: {
	                text: 'Ratio of Tweet to ReTweet over time'
	            },
	            subtitle: {
	                text: document.ontouchstart === undefined ?
	                    'Click and drag in the plot area to zoom in' :
	                    'Drag your finger over the plot to zoom in'
	            },
	            xAxis: {
	                type: 'datetime',
	                maxZoom: 1 * 3600000, // 1 day
	                title: {
	                    text: null
	                }
	            },
	            yAxis: {
	                title: {
	                    text: 'ReTweets/Tweets Ratio'
	                },
	                type: 'linear'
	            },
	            tooltip: {
	                shared: true
	            },
	            legend: {
	                enabled: true
	            },
	            series: [{
	                type: 'area',
	                name: 'Ratio',
	                pointInterval: 10 * 60 * 1000,
	                pointStart: Date.UTC(2013, 2, 02, 22, 46, 15, 0),
	                data: ratioData
	            }]
	        });
	    });
	
	</script>

    <script>
    var totalRetweetData = []
    @if(totalRetweetsArray != null) {
    	@for(i <- 0 until totalRetweetsArray.length){
    		totalRetweetData.push(@totalRetweetsArray(i));
		}
	}
    
    $(function () {
        $('#tab3').highcharts({
            chart: {
                zoomType: 'x',
                spacingRight: 20
            },
            title: {
                text: 'Number of retweeted messages against number of ReTweets - Messages: 200,470' 
            },
            subtitle: {
                text: document.ontouchstart === undefined ?
                    'Click and drag in the plot area to zoom in' :
                    'Drag your finger over the plot to zoom in'
            },
            xAxis: {
                maxZoom: 20, // 1 day
                type: 'linear',
                title: {
                    text: 'Number of times they got retweeted'
                }
            },
            yAxis: {
                type: 'logarithmic',
                title: {
                    text: 'Number of messages which got retweeted'
                }
            },
            tooltip: {
                shared: true
            },
            legend: {
                enabled: true
            },
            series: [{
                type: 'column',
                name: 'Number of messages',
                pointInterval: 50,
                pointStart: 1,
                data: totalRetweetData
            }]
        });
    });
    </script>

    <script>
    var totalRetweeForUsertData = []
    @if(totalRetweetsArray != null) {
    	@for(i <- 0 until totalRetweetsForUserArray.length){
    		totalRetweeForUsertData.push(@totalRetweetsForUserArray(i));
		}
	}
    
    $(function () {
        $('#graph4').highcharts({
            chart: {
                //zoomType: 'x',
                //spacingRight: 20,
            },
            title: {
                text: 'Number of retweeted users against total number of ReTweets - Users: 108,826' 
            },
            subtitle: {
                text: document.ontouchstart === undefined ?
                    'Click and drag in the plot area to zoom in' :
                    'Drag your finger over the plot to zoom in'
            },
            xAxis: {
                maxZoom: 20, // 1 day
                type: 'linear',
                title: {
                    text: 'Total Retweets recieved'
                }
            },
            yAxis: {
                type: 'logarithmic',
                title: {
                    text: 'Number of users'
                }
            },
            tooltip: {
                shared: true
            },
            legend: {
                enabled: true
            },
            series: [{
                type: 'column',
                name: 'Users',
                pointInterval: 100,
                pointStart:1 ,
                data: totalRetweeForUsertData
            }]
        });
    });
    </script>
		
    <script>
    var avgRetweeForUsertData = []
    @if(totalRetweetsArray != null) {
    	@for(i <- 0 until avgRetweetsForUserArray.length){
    		avgRetweeForUsertData.push(@avgRetweetsForUserArray(i));
		}
	}
    
    $(function () {
        $('#graph5').highcharts({
            chart: {
                zoomType: 'x',
                spacingRight: 20
            },
            title: {
                text: 'Number of ReTweeted users against their average number of ReTweets' 
            },
            subtitle: {
                text: document.ontouchstart === undefined ?
                    'Click and drag in the plot area to zoom in' :
                    'Drag your finger over the plot to zoom in'
            },
            xAxis: {
                maxZoom: 20, // 1 day
                type: 'linear',
                title: {
                    text: 'Average retweets'
                }
            },
            yAxis: {
                type: 'logarithmic',
                title: {
                    text: 'Number of users'
                }
            },
            tooltip: {
                shared: true
            },
            legend: {
                enabled: true
            },
            series: [{
                type: 'column',
                name: 'Users',
                pointInterval: 30,
                pointStart: 1,
                data: avgRetweeForUsertData
            }]
        });
    });
    </script>
    <script>
    var userDataSeries = []

    @for(i <- 0 until userData.length){
        userDataSeries.push({name: '@userData(i).getUserName()', color: 'rgba(119, 152, 191, .5)', data: [[@userData(i).getFollowers(), @userData(i).getTotalRT()]]});
    }
    $(function () {
        $('#graph6').highcharts({
            chart: {
                type: 'scatter',
                zoomType: 'xy'
            },
            title: {
                text: 'Total Retweets vs No. of Followers'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                title: {
                    enabled: true,
                    text: 'No. of Followers'
                },
                startOnTick: true,
                endOnTick: true,
                showLastLabel: true
            },
            yAxis: {
                title: {
                    text: 'Total Retweets'
                }
            },
            
            plotOptions: {
                scatter: {
                    marker: {
                        radius: 5,
                        states: {
                            hover: {
                                enabled: true,
                                lineColor: 'rgb(100,100,100)'
                            }
                        }
                    },
                    states: {
                        hover: {
                            marker: {
                                enabled: false
                            }
                        }
                    },
                    tooltip: {
                        headerFormat: '<b>{series.name}</b><br>',
                        pointFormat: '{point.x} Followers, {point.y} Retweets'
                    }
                }
            },
            series: userDataSeries
        });
    });
    
    </script>
    
        <script>
        function resetTabs(){
            $("#content > div").hide(); //Hide all content
            $("#tabs a").attr("id",""); //Reset id's      
        }

        var myUrl = window.location.href; //get URL
        var myUrlTab = myUrl.substring(myUrl.indexOf("#")); // For mywebsite.com/tabs.html#tab2, myUrlTab = #tab2     
        var myUrlTabName = myUrlTab.substring(0,4); // For the above example, myUrlTabName = #tab

        (function(){
            $("#content > div").hide(); // Initially hide all content
            $("#tabs li:first a").attr("id","current"); // Activate first tab
            $("#content > div:first").fadeIn(); // Show first tab content
            
            $("#tabs a").on("click",function(e) {
                e.preventDefault();
                if ($(this).attr("id") == "current"){ //detection for current tab
                 return       
                }
                else{             
                resetTabs();
                $(this).attr("id","current"); // Activate this
                $($(this).attr('name')).fadeIn(); // Show content for current tab
                }
            });

            for (i = 1; i <= $("#tabs li").length; i++) {
              if (myUrlTab == myUrlTabName + i) {
                  resetTabs();
                  $("a[name='"+myUrlTab+"']").attr("id","current"); // Activate url tab
                  $(myUrlTab).fadeIn(); // Show url tab content        
              }
            }
        })()
        
        </script>
        
        <script>
        tweetData = []
        @if(tweetsArray != null) {
            @for(id <- tweetsNewArray) {
                tweetData.push(@id);
            }
        }
    
        retweetData = []
            @if(retweetsArray != null) {
                @for(id <- retweetsNewArray) {
                    retweetData.push(@id);
                }
            }
        
        $(function () {
        $('#graph7').highcharts({
            chart: {
                zoomType: 'x',
                spacingRight: 20
            },
            title: {
                text: 'Live Tweets and Retweets' 
            },
            subtitle: {
                text: document.ontouchstart === undefined ?
                    'Click and drag in the plot area to zoom in' :
                    'Drag your finger over the plot to zoom in'
            },
            xAxis: {
                type: 'datetime',
                maxZoom: 1 * 3600000, // 1 day
                title: {
                    text: null
                }
            },
            yAxis: {
                title: {
                    text: 'Total Tweets/ReTweets'
                },
                type: 'linear'
            },
            tooltip: {
                shared: true
            },
            legend: {
                enabled: true
            },
            plotOptions: {
                area: {
                    fillColor: {
                        linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1},
                        stops: [
                            [0, Highcharts.getOptions().colors[0]],
                            [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                        ]
                    },
                    lineWidth: 1,
                    marker: {
                        enabled: false
                    },
                    shadow: false,
                    states: {
                        hover: {
                            lineWidth: 1
                        }
                    },
                    threshold: null
                }
            },
    
            series: [{
                type: 'area',
                name: 'Tweets',
                pointInterval: 10 * 60 * 1000,
                pointStart: Date.UTC(2013, 3, 02, 00, 06, 00, 0),
                data: tweetData
            }, {
                type: 'area',
                name: 'ReTweets',
                color: '#FF0000',
                pointInterval: 10 * 60 * 1000,
                pointStart: Date.UTC(2013, 3, 02, 00, 06, 00, 0),
                data: retweetData
            }]
        });
    });
    </script>
}
