@(tweetIDForm: Form[Application.TweetID], tweetsArray : Array[Int], retweetsArray : Array[Int], totalRetweetsArray : Array[Int], totalRetweetsForUserArray : Array[Int], avgRetweetsForUserArray : Array[Int])

@import helper._
@import controllers.routes.javascript._

@main("Twitter") {
  	<h2>Twitter Graphs - Arsenal</h2>
	
	    @**form(action = routes.Application.generate, args = 'id -> "tweetidform") {
        
        	@inputText(
            	field = tweetIDForm("name"),
            	args = '_label -> "TweetID", 'placeholder -> "123456789"
        	)
        	
        	<p class="buttons">
            	<input type="submit">
        	<p>
		}*@
		
		<br/>
		Sun 3rd Mar 16.00 - Arsenal vs Tottenham Hotspur - Barclays Premier League 1 - 2
		<br/>
		Tue 5th Mar 19.45 Manchester United vs Real Madrid -  UEFA Champions League 1 - 2 (Arsenal only English team left in Champions League)
		<br/>
		Thu 7th Mar 20.05 Tottenham Hotspur vs Inter Milan - Europa League 3 - 0
		<br/>
		Thu 7th Mar 20.05 Sao Paulo vs Arsenal de Sarandi - Copa de America Libertadores 1 - 1 (Different Arsenal team from Argentina playing the Libertadores Cup)
		<br/>
		Sun 10th Mar 16.00 Liverpool vs Tottenham Hotspur - Barclays Premier League 3 - 2 (Arsenal getting closer to Spurs in Premiere League)
		<br/>
		Tue 12th Mar 19.45 Barcelona vs AC Milan - UEFA Champions League 4 - 0 (Amazing Barcelona comeback from first leg (2 - 0), Arsenal fans getting their hopes high)
		<br/>
		Wed 13th Mar 19.45 - Bayern Munich vs Arsenal - UEFA Champions League 2 - 0
		<br/>
		Fri 15th Mar 00.30 Arsenal de sarandi vs Sao Paolo  - Copa de America Libertadores 2 - 1
		<br/>
		Sat 16th Mar 15.00 - Swansea vs Arsenal - Barclays Premier League 0 - 2
		<br/>
		Sun 17th Mar 15.00 - Tottenham Hotspur vs Fulham - Barclays Premier League 0 - 1 (Arsenal catching up to Spurs)
		
		<script src="http://code.highcharts.com/highcharts.js"></script>
		<script src="http://code.highcharts.com/modules/exporting.js"></script>

        <script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>
        <input type='button' value='Start Feed' id='liveFeedBtn' />
        <br />
        <div id="result"></div>
        
        <script type="text/javascript" charset="utf-8">
                
        var plus = function() {
        	jsRoutes.controllers.Application.liveFeed().ajax({
        		success: function(data) {
        			$("#result").html(data);
        		},
        		error: function() {
        			alert("Error!")
        		}
        	})
        };
	
	$('#liveFeedBtn').click(plus);
    window.setInterval(plus(), 1000);

	</script>


		<div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
		<div id="containerRatios" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
	    <br/>
    	Note for the following graph: Messages with less than 250 retweets have been ignored, otherwise graph is not very visible.
		<div id="container2" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
		<br/>
		Note for the following graph: Users with less than 400 total retweets have been ignored.
		<div id="container3" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
		<br/>
		Note for the following graph: Users who had less than 30 retweets per message on average have been ignored.
		<div id="container4" style="min-width: 400px; height: 400px; margin: 0 auto"></div>

		<script>
        	var tweetData = []
        	@if(tweetsArray != null) {
            	@for(id <- tweetsArray) {
            		tweetData.push(@id);
            	}
	        }
    	
	    	var retweetData = []
	        	@if(retweetsArray != null) {
	            	@for(id <- retweetsArray) {
	            		retweetData.push(@id);
	            	}
		        }
		
		$(function () {
        $('#container').highcharts({
            chart: {
                zoomType: 'x',
                spacingRight: 20
            },
            title: {
                text: 'Volume of Data (2nd of March - 21st of March) - Tweets: 2,085,498 - ReTweets: 1,041,125' 
            },
            subtitle: {
                text: document.ontouchstart === undefined ?
                    'Click and drag in the plot area to zoom in' :
                    'Drag your finger over the plot to zoom in'
            },
            xAxis: {
                type: 'datetime',
                maxZoom: 1 * 3600000, // 1 day
                title: {
                    text: null
                }
            },
            yAxis: {
                title: {
                    text: 'Total Tweets/ReTweets'
                },
                type: 'linear'
            },
            tooltip: {
                shared: true
            },
            legend: {
                enabled: true
            },
            plotOptions: {
                area: {
                    fillColor: {
                        linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1},
                        stops: [
                            [0, Highcharts.getOptions().colors[0]],
                            [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                        ]
                    },
                    lineWidth: 1,
                    marker: {
                        enabled: false
                    },
                    shadow: false,
                    states: {
                        hover: {
                            lineWidth: 1
                        }
                    },
                    threshold: null
                }
            },
    
            series: [{
                type: 'area',
                name: 'Tweets',
                pointInterval: 10 * 60 * 1000,
                pointStart: Date.UTC(2013, 2, 02, 22, 46, 15, 0),
                data: tweetData
            }, {
            	type: 'area',
                name: 'ReTweets',
                color: '#FF0000',
                pointInterval: 10 * 60 * 1000,
                pointStart: Date.UTC(2013, 2, 02, 22, 46, 15, 0),
                data: retweetData
            }]
        });
    });
    </script>

    <script>
	
    var ratioData = []
        for(var i = 0; i < tweetData.length; i++) {
            ratioData.push(retweetData[i]/ tweetData[i]);
        }
    
	$(function () {
	        $('#containerRatios').highcharts({
	            chart: {
	                zoomType: 'x',
	                spacingRight: 20
	            },
	            title: {
	                text: 'Ratio of Tweet to ReTweet over time'
	            },
	            subtitle: {
	                text: document.ontouchstart === undefined ?
	                    'Click and drag in the plot area to zoom in' :
	                    'Drag your finger over the plot to zoom in'
	            },
	            xAxis: {
	                type: 'datetime',
	                maxZoom: 1 * 3600000, // 1 day
	                title: {
	                    text: null
	                }
	            },
	            yAxis: {
	                title: {
	                    text: 'ReTweets/Tweets Ratio'
	                },
	                type: 'linear'
	            },
	            tooltip: {
	                shared: true
	            },
	            legend: {
	                enabled: true
	            },
	            series: [{
	                type: 'area',
	                name: 'Ratio',
	                pointInterval: 10 * 60 * 1000,
	                pointStart: Date.UTC(2013, 2, 02, 22, 46, 15, 0),
	                data: ratioData
	            }]
	        });
	    });
	
	</script>

    <script>
    var totalRetweetData = []
    @if(totalRetweetsArray != null) {
    	@for(i <- 0 until totalRetweetsArray.length){
    		totalRetweetData.push(@totalRetweetsArray(i));
		}
	}
    
    $(function () {
        $('#container2').highcharts({
            chart: {
                zoomType: 'x',
                spacingRight: 20
            },
            title: {
                text: 'Number of retweeted messages against number of ReTweets - Messages: 200,470' 
            },
            subtitle: {
                text: document.ontouchstart === undefined ?
                    'Click and drag in the plot area to zoom in' :
                    'Drag your finger over the plot to zoom in'
            },
            xAxis: {
                maxZoom: 20, // 1 day
                type: 'linear',
                title: {
                    text: 'Number of times they got retweeted'
                }
            },
            yAxis: {
                type: 'logarithmic',
                title: {
                    text: 'Number of messages which got retweeted'
                }
            },
            tooltip: {
                shared: true
            },
            legend: {
                enabled: true
            },
            series: [{
                type: 'column',
                name: 'Number of messages',
                pointInterval: 50,
                pointStart: 1,
                data: totalRetweetData
            }]
        });
    });
    </script>

    <script>
    var totalRetweeForUsertData = []
    @if(totalRetweetsArray != null) {
    	@for(i <- 0 until totalRetweetsForUserArray.length){
    		totalRetweeForUsertData.push(@totalRetweetsForUserArray(i));
		}
	}
    
    $(function () {
        $('#container3').highcharts({
            chart: {
                //zoomType: 'x',
                //spacingRight: 20,
            },
            title: {
                text: 'Number of retweeted users against total number of ReTweets - Users: 108,826' 
            },
            subtitle: {
                text: document.ontouchstart === undefined ?
                    'Click and drag in the plot area to zoom in' :
                    'Drag your finger over the plot to zoom in'
            },
            xAxis: {
               // maxZoom: 20, // 1 day
                type: 'linear',
                title: {
                    text: 'Total Retweets recieved'
                }
            },
            yAxis: {
                type: 'logarithmic',
                title: {
                    text: 'Number of users'
                }
            },
            tooltip: {
                shared: true
            },
            legend: {
                enabled: true
            },
            series: [{
                type: 'column',
                name: 'Users',
                pointInterval: 100,
                pointStart:1 ,
                data: totalRetweeForUsertData
            }]
        });
    });
    </script>
		
    <script>
    var avgRetweeForUsertData = []
    @if(totalRetweetsArray != null) {
    	@for(i <- 0 until avgRetweetsForUserArray.length){
    		avgRetweeForUsertData.push(@avgRetweetsForUserArray(i));
		}
	}
    
    $(function () {
        $('#container4').highcharts({
            chart: {
                zoomType: 'x',
                spacingRight: 20
            },
            title: {
                text: 'Number of ReTweeted users against their average number of ReTweets' 
            },
            subtitle: {
                text: document.ontouchstart === undefined ?
                    'Click and drag in the plot area to zoom in' :
                    'Drag your finger over the plot to zoom in'
            },
            xAxis: {
                maxZoom: 20, // 1 day
                type: 'linear',
                title: {
                    text: 'Average retweets'
                }
            },
            yAxis: {
                type: 'logarithmic',
                title: {
                    text: 'Number of users'
                }
            },
            tooltip: {
                shared: true
            },
            legend: {
                enabled: true
            },
            series: [{
                type: 'column',
                name: 'Users',
                pointInterval: 30,
                pointStart: 1,
                data: avgRetweeForUsertData
            }]
        });
    });
    </script>
    
}
